*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main{
	position: relative;
	height: 48vh;
	width: 100%;
}
.main header{
	position: relative;
	height: 15vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('https://images.pexels.com/photos/1486222/pexels-photo-1486222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
	/* background-size: cover; */
	/* background-position: center center; */
	font-size: 1.5rem;
	color:red;
	 text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.main header .iconShopping{
	cursor: pointer;
	z-index: 1;
	position: relative;
	font-size: 1.8rem;
}
.main header .iconShopping p{
	position: absolute;
	top: -5px;
	right: -12px;
	font-size: 0.69rem;
	background-color: #000;
	padding: 5px 5px;
	border-radius: 50%;
}
/*items*/
.main .itemsBox{
	position: relative;
	height: calc(100% - 15vh);
	width: 90%;
	margin:0 auto;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	padding: 50px 25px;
}
.main .itemsBox .item{
	position: relative;
	height: 150px;
	width: 100%;
	overflow: hidden;
	padding: 10px 25px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.main .itemsBox .item img{
	position: relative;
	width: 100%;
	height: 60%;
	object-fit: contain;
}
.main .itemsBox .item h1{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
}
.main .itemsBox .item p{
	position: relative;
	width: 100%;
	text-align: right;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
	color: #017bf5;
}
.main .itemsBox .item a{
	position: relative;
	text-align: left;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
	background: #0f0f0f;
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.main .itemsBox .item a:hover{
	background: #0f0f0fa5;
}

/*cart box*/
.cartBox{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	transition: 0.3s linear;
	transform: scale(0);
}
.cartBox.active{
	transform: scale(1);
}
.cartBox .cart{
	position: relative;
	height: 70%;
	width: 80%;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartBox .cart i{
	position: absolute;
	right: 0;
	top: 0;
	background:#f00;
	padding:10px 15px;
	color: #fff;
	cursor: pointer;
}
.cartBox .cart i:hover{
	background: #ff0000a5;
}
.cartBox .cart h1{
	position: relative;
	margin-top: 2%;
	font-size: 2.8rem;
	color: #017bf5;
}